version: "3.8"

services:
  tezos:
    container_name: tezos
    image: tezos/tezos:v12.0
    command: ["tezos-node", "--history-mode=rolling:0", "--force-history-mode-switch", "--cors-header=content-type", "--cors-origin=*", "--rpc-addr=0.0.0.0:8732", "--allow-all-rpc=0.0.0.0:8732"]
    hostname: node
    restart: 'always'
    ports:
      - 8732:8732
      - 9732:9732
    volumes:
       - tezos-data:/var/run/tezos/node
    logging:
      driver: "json-file"
      options:
        max-file: "2"
        max-size: "25m"

  # reverse proxy to hide behind a domain name for temple wallet
  # config through .env file
  swag:
    image: linuxserver/swag
    container_name: swag
    cap_add:
      - NET_ADMIN
    env_file:
      - .env
    volumes:
      - ./swag:/config
      - ./tznode.conf:/config/nginx/site-confs/tznode.conf
    ports:
      - 443:443
      - 80:80 #optional
    restart: 'always'


  # to import a rolling snapshot, save snapshot as a file named snapshot in current directory
  # delete your old tezos-data docker volume
  # docker-compose run rolling
  import:
    profiles:
      - import
    image: tezos/tezos:v11.1
    command: ["tezos-snapshot-import", "--rolling"]
    hostname: node
    restart: 'no'
    volumes:
       - tezos-data:/var/run/tezos/node
       - ./snapshot:/snapshot

volumes:
  tezos-data:
    external: true
